## Data Convert

In [12]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt

# Code for spacy V3
from spacy.tokens import DocBin
import srsly
import spacy
import spacy
from spacy.training import offsets_to_biluo_tags

## Data Cleaning:
- remove special characters

In [13]:
df = pd.read_csv('offer_retailer.csv')
df.head()

,OFFER,RETAILER,BRAND
0,Spend $50 on a Full-Priced new Club Membership,SAMS CLUB,SAMS CLUB
1,"Beyond Meat® Plant-Based products, spend $25",NaN,BEYOND MEAT
2,Good Humor Viennetta Frozen Vanilla Cake,NaN,GOOD HUMOR
3,"Butterball, select varieties, spend $10 at Dil...",DILLONS FOOD STORE,BUTTERBALL
4,"GATORADE® Fast Twitch®, 12-ounce 12 pack, at A...",AMAZON,GATORADE

In [15]:
# split brand from df
df_brand = df[['OFFER','BRAND']]

In [16]:
# split data into train, test, and validation (80%, 10%, 10%)
train = df_brand.sample(frac=0.8, random_state=42)
test = df_brand.drop(train.index)
val = train.sample(frac=0.125, random_state=42)